policy_module(sepostgresql-devel, 3.28)

gen_require(`
	class db_database all_db_database_perms;
	class db_table all_db_table_perms;
	class db_procedure all_db_procedure_perms;
	class db_column all_db_column_perms;
	class db_tuple all_db_tuple_perms;
	class db_blob all_db_blob_perms;

	attribute sepgsql_client_type;
	attribute sepgsql_unconfined_type;

	attribute sepgsql_database_type;
	attribute sepgsql_table_type;
	attribute sepgsql_sysobj_table_type;
	attribute sepgsql_procedure_type;
	attribute sepgsql_blob_type;
	attribute sepgsql_module_type;

	# for regression test
	type bin_t;
	type user_home_t;
	type sepgsql_trusted_proc_t;

	attribute tmpfile;
	attribute ptynode;
')

#################################
#
# Domain for Testcases
#

role sepgsql_test_r;

userdom_unpriv_user_template(sepgsql_test)
postgresql_role(sepgsql_test_r, sepgsql_test_t)

allow sepgsql_test_t tmpfile : dir search_dir_perms;
allow sepgsql_test_t tmpfile : file rw_file_perms;
allow sepgsql_test_t ptynode : chr_file rw_file_perms;

optional_policy(`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

	tunable_policy(`sepgsql_regression_test_mode',`
		allow unconfined_t sepgsql_test_t : process transition;
	')
	allow sepgsql_test_t unconfined_t : fifo_file read_file_perms;
	role unconfined_r types sepgsql_test_t;
	role unconfined_r types sepgsql_trusted_proc_t;
')

#################################
#
# SE-PostgreSQL Declarations
#

## <desc>
## <p>
## Allow to generate auditallow logs
## </p>
## </desc>
gen_tunable(sepgsql_enable_auditallow, false)

## <desc>
## <p>
## Allow to generate auditdeny logs
## </p>
## </desc>
gen_tunable(sepgsql_enable_auditdeny,  true)

## <desc>
## <p>
## Allow widespread permissions for regression test
## Don't set TRUE on operation phase
## </p>
## </desc>
gen_tunable(sepgsql_regression_test_mode, false)

########################################
#
# SE-PostgreSQL audit switch for debugging
#
tunable_policy(`sepgsql_enable_auditallow',`
	auditallow domain sepgsql_database_type  : db_database *;
	auditallow domain sepgsql_table_type     : db_table *;
	auditallow domain sepgsql_table_type     : db_column *;
	auditallow domain sepgsql_table_type     : db_tuple { relabelfrom relabelto };
	auditallow domain sepgsql_sysobj_table_type : db_tuple *;
	auditallow domain sepgsql_procedure_type : db_procedure *;
	auditallow domain sepgsql_blob_type      : db_blob *;
	auditallow domain sepgsql_module_type    : db_database { install_module };
	auditallow sepgsql_database_type sepgsql_module_type : db_database { load_module };
')

tunable_policy(`! sepgsql_enable_auditdeny',`
	dontaudit domain sepgsql_database_type   : db_database *;
	dontaudit domain sepgsql_table_type      : db_table *;
	dontaudit domain sepgsql_table_type      : db_column *;
	dontaudit domain sepgsql_table_type      : db_tuple { relabelfrom relabelto };
	dontaudit domain sepgsql_sysobj_table_type : db_tuple *;
	dontaudit domain sepgsql_procedure_type  : db_procedure *;
	dontaudit domain sepgsql_blob_type       : db_blob *;
	dontaudit domain sepgsql_module_type     : db_database { install_module };
	dontaudit sepgsql_database_type sepgsql_module_type : db_database { load_module };
')

########################################
#
# SE-PostgreSQL regression test mode switch
#
tunable_policy(`sepgsql_regression_test_mode',`
	allow sepgsql_client_type       user_home_t : db_database { install_module };
	allow sepgsql_unconfined_type   user_home_t : db_database { install_module };
	allow sepgsql_database_type     user_home_t : db_database { load_module };
')
