policy_module(sepostgresql, %%POLICY_VERSION%%)

gen_require(`
	class database all_database_perms;
	class table all_table_perms;
	class column all_column_perms;
	class tuple all_tuple_perms;
	class procedure all_procedure_perms;
	class blob all_blob_perms;

	type postgresql_t;
	type lib_t, shlib_t;
	type unlabeled_t;

	attribute domain;
	attribute file_type;
')

########################################
#
# Declarations
#
gen_tunable(sepgsql_enable_unconfined, true)
gen_tunable(sepgsql_enable_auditallow, false)
gen_tunable(sepgsql_enable_auditdeny,  true)
gen_tunable(sepgsql_enable_audittuple, false)
gen_tunable(sepgsql_enable_users_ddl,  true)

# ---- Database object type ----
attribute sepgsql_server_type;
attribute sepgsql_database_type;
attribute sepgsql_table_type;
attribute sepgsql_procedure_type;
attribute sepgsql_blob_type;
attribute sepgsql_module_type;

#---------------------------------------
# SE-PostgreSQL userspace-managed objects

# for database class
type sepgsql_db_t,		sepgsql_database_type;

# for table/column/tuple class
type sepgsql_table_t,		sepgsql_table_type;
type sepgsql_sysobj_t,		sepgsql_table_type;
type sepgsql_secret_table_t,	sepgsql_table_type;
type sepgsql_ro_table_t,	sepgsql_table_type;
type sepgsql_fixed_table_t,	sepgsql_table_type;

# for procedure class
type sepgsql_proc_t,		sepgsql_procedure_type;
type sepgsql_user_proc_t,	sepgsql_procedure_type;
type sepgsql_trusted_proc_t,	sepgsql_procedure_type;

# for blob class
type sepgsql_blob_t,		sepgsql_blob_type;
type sepgsql_ro_blob_t,		sepgsql_blob_type;
type sepgsql_secret_blob_t,	sepgsql_blob_type;

#---------------------------------------
# SE-PostgreSQL trusted procedure domain
type sepgsql_trusted_domain_t;
domain_type(sepgsql_trusted_domain_t)
sepgsql_unconfined_domain(sepgsql_trusted_domain_t)

#---------------------------------------
# SE-PostgreSQL loadable shared library modules
sepgsql_module_object(lib_t)
sepgsql_module_object(shlib_t)

#---------------------------------------
# unlabeled object (unlabeled_t)
typeattribute unlabeled_t sepgsql_database_type;
typeattribute unlabeled_t sepgsql_table_type;
typeattribute unlabeled_t sepgsql_procedure_type;
typeattribute unlabeled_t sepgsql_blob_type;

########################################
#
# SE-PostgreSQL server domain's policy
#
optional_policy(`
	gen_require(`
		type postgresql_t;
	')
	sepgsql_server_domain(postgresql_t)
')
allow sepgsql_server_type sepgsql_database_type : database { create drop getattr setattr };
allow sepgsql_server_type sepgsql_table_type : table { create drop getattr setattr };
allow sepgsql_server_type sepgsql_table_type : column { create drop getattr setattr };
allow sepgsql_server_type sepgsql_table_type : tuple { insert delete select update };
allow sepgsql_server_type sepgsql_procedure_type : procedure { create drop getattr setattr };
allow sepgsql_server_type sepgsql_blob_type : blob { create drop getattr setattr read write };

allow sepgsql_server_type self:netlink_selinux_socket create_socket_perms;
selinux_get_fs_mount(sepgsql_server_type)
selinux_get_enforce_mode(sepgsql_server_type)
selinux_validate_context(sepgsql_server_type)
selinux_compute_access_vector(sepgsql_server_type)
selinux_compute_create_context(sepgsql_server_type)
selinux_compute_relabel_context(sepgsql_server_type)
sepgsql_unconfined_domain(sepgsql_server_type)

########################################
#
# SE-PostgreSQL client domains
#

# -- unconfined_domain_type --
optional_policy(`
	gen_require(`
		attribute unconfined_domain_type;
	')
	sepgsql_unconfined_domain(unconfined_domain_type)
')

# -- sysadm_t --
optional_policy(`
	gen_require(`
		type sysadm_t;
	')
	sepgsql_unconfined_domain(sysadm_t)
')

# -- unpriv_userdomain (user_t, staff_t) --
optional_policy(`
	gen_require(`
		attribute unpriv_userdomain;
	')
	sepgsql_client_domain(unpriv_userdomain)
')

# -- PHP script --
optional_policy(`
	gen_require(`
		type httpd_t;
	')
	sepgsql_client_domain(httpd_t)
')
# -- CGI script --
optional_policy(`
	gen_require(`
		type httpd_sys_script_t;
	')
	sepgsql_client_domain(httpd_sys_script_t)
')

########################################
#
# SE-PostgreSQL loadable shared library policy
#

allow sepgsql_database_type sepgsql_module_type : database { load_module };

########################################
#
# SE-PostgreSQL Type Transition
#
type_transition domain domain : database sepgsql_db_t;
type_transition { domain - sepgsql_server_type } sepgsql_database_type : table sepgsql_table_t;
type_transition sepgsql_server_type sepgsql_database_type : table sepgsql_sysobj_t;
type_transition domain sepgsql_database_type : blob sepgsql_blob_t;

########################################
#
# SE-PostgreSQL audit switch
#
tunable_policy(`sepgsql_enable_auditallow',`
	auditallow domain sepgsql_database_type : database all_database_perms;
	auditallow domain sepgsql_table_type : table all_table_perms;
	auditallow domain sepgsql_table_type : column all_column_perms;
	auditallow domain sepgsql_procedure_type : procedure all_procedure_perms;
	auditallow domain sepgsql_blob_type : blob all_blob_perms;
	auditallow domain sepgsql_server_type : blob { import export };
	auditallow domain file_type : database { install_module };
')
tunable_policy(`sepgsql_enable_audittuple && sepgsql_enable_auditallow',`
	auditallow domain sepgsql_table_type : tuple all_tuple_perms;
')

tunable_policy(`! sepgsql_enable_auditdeny',`
	dontaudit domain sepgsql_database_type : database all_database_perms;
	dontaudit domain sepgsql_table_type : table all_table_perms;
	dontaudit domain sepgsql_table_type : column all_column_perms;
	dontaudit domain sepgsql_procedure_type : procedure all_procedure_perms;
	dontaudit domain sepgsql_blob_type : blob all_blob_perms;
	dontaudit domain sepgsql_server_type : blob { import export };
	dontaudit domain file_type : database { install_module };
')
tunable_policy(`! sepgsql_enable_audittuple || ! sepgsql_enable_auditdeny',`
	dontaudit domain sepgsql_table_type : tuple all_tuple_perms;
')
