########################################
## <summary>
##     marks as a server process of SE-PostgreSQL.
## </summary>
## <param name="type">
##     <summary>
##     Type marked as a database object type.
##     </summary>
## </param>
#
interface(`sepgsql_server_domain',`
	gen_require(`
		attribute sepgsql_server_type;
	')
	typeattribute $1 sepgsql_server_type;
')

########################################
## <summary>
##     marks as a unconfined client process of SE-PostgreSQL.
## </summary>
## <param name="type">
##     <summary>
##     Type marked as a database object type.
##     </summary>
## </param>
#
interface(`sepgsql_unconfined_domain',`
	gen_require(`
		attribute sepgsql_client_type;
		attribute sepgsql_unconfined_type;
	')
	typeattribute $1 sepgsql_client_type;
	typeattribute $1 sepgsql_unconfined_type;
')

########################################
## <summary>
##     marks as a client process of SE-PostgreSQL.
## </summary>
## <param name="type">
##     <summary>
##     Type marked as a database object type.
##     </summary>
## </param>
#
interface(`sepgsql_client_domain',`
	gen_require(`
		attribute sepgsql_client_type;
	')
	typeattribute $1 sepgsql_client_type;
')

########################################
## <summary>
##     Marks as a SE-PostgreSQL loadable shared library module
## </summary>
## <param name="type">
##     <summary>
##     Type marked as a database object type.
##     </summary>
## </param>
#
interface(`sepgsql_module_object',`
	gen_require(`
		attribute sepgsql_module_type;
	')
	typeattribute $1 sepgsql_module_type;
')
