policy_module(httpd-selinux, 1.2)

gen_require(`
	type httpd_t;
	type httpd_sys_script_t;
	type httpd_user_script_t;
')

allow httpd_t self : process { setcurrent };

optional_policy(`
	gen_require(`
		attribute mcssetcats;
	')
	typeattribute httpd_t mcssetcats;
')

optional_policy(`
	gen_require(`
		attribute mlsprocsetsl;
	')
	typeattribute httpd_t mlsprocsetsl;
')
