policy_module(mod_selinux, 1.1)

gen_require(`
	type httpd_t;
')

selinux_compute_create_context(httpd_t)
allow httpd_t self : process { setexec };

ifdef(`enable_mcs',`
	gen_require(`
		attribute mcssetcats;
	')
	typeattribute httpd_t mcssetcats;
')

ifdef(`enable_mls',`
	gen_require(`
		attribute mlsprocsetsl;
	')
	typeattribute httpd_t mlsprocsetsl;
')
